<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../views/partials/header.ejs'); %>

    

        <div class="card">
            <div class="card-header">Sample Form</div>
            <div class="card-body">
                <form method="POST" action="/sample_data/edit/<%= data[0].MSV %>">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Ten</label>
                                <input type="text" name="name" id="name" class="form-control"  value="<%= data[0].tenSinhVien %>" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>MSV</label>
                                <input type="text" name="MSV" id="MSV" class="form-control" value="<%= data[0].MSV %>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Ngay Sinh</label>
                                <input type="date" data-date-format="dd/mm/yyyy" name="ngaySinh" id="ngaySinh" class="form-control"  value="<%= data[0].ngaySinh %>"/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                    </div>
                </form>
            </div>
        </div>


        <%- include('../views/partials/footer.ejs'); %>
        
</body>

</html>